---
const { date } = Astro.props;
const { title } = Astro.props;
const { pic } = Astro.props;
const { link } = Astro.props;
---

<article
  class="relative max-w-lg overflow-hidden rounded-lg shadow transition hover:shadow-lg max-lg:mx-auto"
>
  {pic && <img alt="" src={pic} class="h-56 w-full object-cover object-top" />}

  <div class="h-full bg-white p-4 sm:p-6">
    <time datetime={date} class="block text-xs text-gray-500">
      {date}
    </time>

    <a href={link}>
      <h3 class="mt-0.5 text-lg text-gray-900">
        {title}
      </h3>
    </a>

    <p class="line-clamp-3 text-sm/relaxed mt-2 text-gray-500">
      <slot />...
    </p>
  </div>
</article>
